<div>
    <br />
    <h2>Desafio de Programação que mais me marcou</h2>
    <br />
    <p>O desafio de programação que mais me marcou até o momento foi um projeto em que atuei como FullStack Developer, utilizando C# .NET, GIT, AWS, Javascript e Rest Apis. A arquitetura utilizada foi baseada em DDD e TDD, o que me permitiu construir um sistema escalável e de alta qualidade.</p>
    <p>Neste projeto, atuei na concepção e desenvolvimento do sistema, desde a arquitetura até a implementação de cada funcionalidade. Além disso, participei de diversas sessões de code review, o que me permitiu aprender muito com os meus colegas e melhorar continuamente a qualidade do código.</p>
    <p>O que mais me marcou neste projeto foi a oportunidade de trabalhar em um ambiente de alta performance, onde todos os membros da equipe estavam comprometidos com a entrega de um produto de qualidade para os clientes. Além disso, a aplicação de metodologias ágeis como o SCRUM e a cultura de feedback estruturada foram fundamentais para o sucesso do projeto e do time como um todo.</p>
    <p>Alan Luiz Groh</p>
</div>