@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2 class="display-4">Bem-vindo!</h2>
    <br />
    <p>Nome do Candidato: <b>Alan Luiz Groh</b></p>
    <p>Cargo Pretendido: <b>Pessoa Desenvolvedora .Net</b></p>
    <p>Pretensão Salarial: <b>A combinar (e conforme desempenho em teste técnico)</b></p>
    <p>Data do Teste: <b>02/03/2023</b></p>
</div>
